h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

p {
	font-weight: 500 !important;
}

@media (max-height: 850px) {
	.nascondi-se-non-entra {
		display:none;
	}
	h1.titolo{
		margin-top:30px;
		margin-bottom:0px;
	}
}

@media (max-height: 450px) or (max-width: 600px) {
	.nascondi-se-non-entra-piccolo {
		display:none;
	}
	h1.titolo{
		margin-top:50px;
		margin-bottom:0px;
	}
	.page-header{
		height: 70vh !important;
	}
}
